.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDF2F8;
    box-sizing: border-box;
}
.mainContainer {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 11px 5px rgba(0,0,0,0.06);
}

.mainContainer-image {
    width: 45%;
}

.mainContainer-image_img {
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
}

.mainContainer-text {
    width: 60%;
    padding: 20px;
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.mainContainer-text_sub {
    font-size: 12px;
    color: gray;
    margin: 20px 0;
}

.mainContainer-text_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.mainContainer-text_profileAvatar {
    width: 15%;
}

.mainContainer-text_profileAvatarImage{
    border-radius: 50%;
    width: 40px;
}

.mainContainer-text_profileName {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: normal;
}

.mainContainer-text_profileIcon{
    width: 15%;
}

.mainContainer-text_profileIconImage{
    background-color: #E8EFFD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}